<script lang="ts" setup>
  const { siteName } = useAppConfig()
  useHead({
      htmlAttrs: {
        lang: 'en'
      },
      title: siteName,
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        { name: 'description', content: 'We got the Sauce' }
      ]
  })
</script>

<template>
  <NuxtLoadingIndicator color="#ca710c" />
  <header>
    <TheNavBar />
  </header>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
  <TheAlerts />
</template>
