<template>
  <div>
    <hr class="my-10" />
    <h2>Customer Reviews and Ratings</h2>
    <div class="collapse">
      <input type="checkbox" :checked="showAdd" /> 
      <div class="collapse-title outline">
        Write a  Review
      </div>
      <div class="collapse-content"> 
        <div class="form border border-base-300 bg-base-200 rounded-box"> 
          <FormKit
            type="form"
            :config="{ validationVisibility: 'submit' }"
            @submit="onSubmit"
            :actions="false"
            >
            <FormKit
              type="text"
              label="Title"
              name="title"
              maxlength="50"
              minlength="3"
              validation="required"
              />
            <FormKit
              type="number"
              label="Rating"
              name="rating"
              min="1"
              max="5"
              validation="required"
              />
            <FormKit
              type="textarea"
              label="Review"
              name="text"
              rows="6"
              maxlength="300"
              minlength="3"
              validation="required"
              />
            <AppButton class="btn-primary button-review" :loading="loadingAdd">Send</AppButton>
            </FormKit>
        </div>
      </div>
    </div>
    <div v-for="r in reviews">
      <h3>{{ r.attributes.title }}</h3>
      {{ "★".repeat(r.attributes.rating) + "☆".repeat(5 - r.attributes.rating) }}
      <div class="prose prose-sm">
        <p>{{ r.attributes.text }}</p>
      </div>
      <hr class="my-4" />
    </div>
  </div>
</template>

<script setup>
let loadingAdd = ref(false)
let showAdd = ref(false)
const deskree = useDeskree()
const route = useRoute()
const reviews = ref([])

onMounted(() => {
  deskree.reviews.get(route.params.id)
  .then(r => reviews.value = r)
})

async function onSubmit(form) {
  showAdd.value = true
  loadingAdd.value = true
  form.rating = +form.rating
  form.product_id = route.params.id
  const newReview = await deskree.reviews.submit(form)
  reviews.value.unshift({uid: newReview.uid , attributes: newReview})
  loadingAdd.value = false
  showAdd.value = false
}
</script>

<style>
.collapse-title, .collapse-content {
    padding-left: 0
}
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: auto;
}
.formkit-input {
  background: white;
}
</style>
