<script setup>
const selected = ref([])
const checkAll = ref()
const items = ref([])
const cartStore = useCartStore()

async function handleCheckout() {
  const res = await $fetch('/api/cart', {
    method: "POST",
    body: cartStore.items.map(item => ({id: item.id, quantity: item.quantity}))
  })
  window.location = res.url
}

function onCheckAll(checked) {
  if (items.value.length) {
    if (checked) {
      items.value.forEach((checkbox) => {
        selected.value.push(checkbox.value)
      })
    } else {
      selected.value = []
    }
  }
}

function delItems() {
  selected.value.forEach(id => cartStore.delItem(id))
}
</script>
<template>
  <div class="m-10">
    <h1 class="text-3xl mb-5 font-bold">Your Cart</h1>
    <div class="md:flex w-full">
      <div class="md:w-3/4">
        <!-- Use this markup to display an empty cart -->
        <div  v-if="!cartStore.items.length" class="italic text-center pt-10">
          Cart is empty
        </div>
        <div class="overflow-x-auto">
          <div class="table w-full">
            <table class="w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" class="checkbox" ref="checkAll" @change="onCheckAll($event.target.checked)" />
                  </th>
                  <th></th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Number of Items</th>
                  <th></th>
                </tr>
              </thead>
              <tbody v-for="item in cartStore.items" :key="item.id">
                <tr>
                  <th>
                    <input
                      v-model="selected"
                      ref="items"
                      type="checkbox"
                      class="checkbox"
                      @change="checkAll.checked = false"
                      :value="item.id"
                    />
                  </th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          <img
                            :src="item.item.fields.image[0]?.fields.file.url"
                            :alt="item.item.fields.name"
                          />
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="font-bold">
                      {{ item.item.fields.name }}
                    </div>
                    <ProductHeat :heat-level="item.item.fields.heatLevel" />
                  </td>
                  <td>
                    <ProductPrice :price="item.totalPrice" />
                  </td>

                  <td>
                    <input
                      class="input input-bordered w-20"
                      type="number"
                      min="1"
                      :value="item.quantity"
                      @change="cartStore.setItem(item.item, $event.target.value)"
                    />
                  </td>
                  <th>
                    <NuxtLink
                      :to="{
                        name: 'products-id',
                        params: { id: item.id },
                      }"
                    >
                      <button class="btn btn-ghost btn-xs">details</button>
                    </NuxtLink>
                  </th>
                </tr>
              </tbody>
            </table>
            <button v-if="selected.length" class="text-sm text-red-500" @click="delItems()">
              Remove Selected
            </button>
          </div>
        </div>
      </div>

      <div class="md:w-1/4 pl-5">
        <div class="card bg-slate-50">
          <div class="card-body">
            <ul>
              <li><strong>Subtotal</strong>: ${{ cartStore.subtotal.toFixed(2).replace('.',',') }}</li>
              <li><strong>Estimated Taxes </strong>: ${{ cartStore.taxes.toFixed(2).replace('.',',') }}</li>
              <li><strong>Total</strong>: ${{ cartStore.total.toFixed(2).replace('.',',') }}</li>
            </ul>
            <div class="card-actions justify-end w-full">
              <button class="btn btn-primary w-full" @click="handleCheckout">
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
